/**
* ░█▄█░█▀█░▀█▀░█░█░█▀▀░█▀▀░█▀█░░░░░░░░░█▀▄░█▀█░█▀▀░▀█▀
* ░█░█░█▀█░░█░░█░█░█░█░█▀▀░█░█░░░▄▄▄░░░█▀▄░█░█░█▀▀░░█░
* ░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀▀▀░▀░▀░░░░░░░░░▀░▀░▀▀▀░▀░░░▀▀▀
*/

* {
    primary: rgba(251, 186, 101, 1);
    primary-fixed: rgba(255, 221, 182, 1);
    primary-fixed-dim: rgba(251, 186, 101, 1);
    on-primary: rgba(70, 42, 0, 1);
    on-primary-fixed: rgba(42, 24, 0, 1);
    on-primary-fixed-variant: rgba(100, 63, 0, 1);
    primary-container: rgba(100, 63, 0, 1);
    on-primary-container: rgba(255, 221, 182, 1);

    secondary: rgba(194, 196, 235, 1);
    secondary-fixed: rgba(224, 224, 255, 1);
    secondary-fixed-dim: rgba(194, 196, 235, 1);
    on-secondary: rgba(43, 46, 77, 1);
    on-secondary-fixed: rgba(22, 25, 55, 1);
    on-secondary-fixed-variant: rgba(65, 68, 101, 1);
    secondary-container: rgba(65, 68, 101, 1);
    on-secondary-container: rgba(224, 224, 255, 1);

    tertiary: rgba(141, 210, 219, 1);
    tertiary-fixed: rgba(168, 238, 247, 1);
    tertiary-fixed-dim: rgba(141, 210, 219, 1);
    on-tertiary: rgba(0, 54, 59, 1);
    on-tertiary-fixed: rgba(0, 31, 35, 1);
    on-tertiary-fixed-variant: rgba(0, 79, 86, 1);
    tertiary-container: rgba(0, 79, 86, 1);
    on-tertiary-container: rgba(168, 238, 247, 1);

    error: rgba(255, 180, 171, 1);
    on-error: rgba(105, 0, 5, 1);
    error-container: rgba(147, 0, 10, 1);
    on-error-container: rgba(255, 218, 214, 1);

    surface: rgba(12, 21, 22, 0.5);
    on-surface: rgba(218, 228, 229, 1);
    on-surface-variant: rgba(184, 202, 204, 1);

    outline: rgba(131, 148, 150, 1);
    outline-variant: rgba(57, 74, 76, 1);
    shadow: rgba(0, 0, 0, 1);

    scrim: rgba(0, 0, 0, 1);
    inverse-surface: rgba(218, 228, 229, 1);
    inverse-on-surface: rgba(41, 50, 51, 1);
    inverse-primary: rgba(132, 84, 1, 1);

    surface-dim: rgba(12, 21, 22, 1);
    surface-bright: rgba(50, 59, 60, 1);
    surface-container-lowest: rgba(7, 16, 17, 1);
    surface-container-low: rgba(20, 29, 30, 1);
    surface-container: rgba(24, 33, 34, 1);
    surface-container-high: rgba(34, 44, 45, 1);
    surface-container-highest: rgba(45, 54, 56, 1);
}
