/**
* ░█▄█░█▀█░▀█▀░█░█░█▀▀░█▀▀░█▀█░░░░░░░░░█▀▄░█▀█░█▀▀░▀█▀
* ░█░█░█▀█░░█░░█░█░█░█░█▀▀░█░█░░░▄▄▄░░░█▀▄░█░█░█▀▀░░█░
* ░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀▀▀░▀░▀░░░░░░░░░▀░▀░▀▀▀░▀░░░▀▀▀
*/

* {
    primary: rgba(232, 180, 248, 1);
    primary-fixed: rgba(248, 216, 255, 1);
    primary-fixed-dim: rgba(232, 180, 248, 1);
    on-primary: rgba(71, 30, 87, 1);
    on-primary-fixed: rgba(48, 6, 65, 1);
    on-primary-fixed-variant: rgba(96, 54, 112, 1);
    primary-container: rgba(96, 54, 112, 1);
    on-primary-container: rgba(248, 216, 255, 1);

    secondary: rgba(191, 204, 155, 1);
    secondary-fixed: rgba(219, 232, 181, 1);
    secondary-fixed-dim: rgba(191, 204, 155, 1);
    on-secondary: rgba(42, 52, 17, 1);
    on-secondary-fixed: rgba(21, 31, 1, 1);
    on-secondary-fixed-variant: rgba(64, 75, 37, 1);
    secondary-container: rgba(64, 75, 37, 1);
    on-secondary-container: rgba(219, 232, 181, 1);

    tertiary: rgba(215, 199, 122, 1);
    tertiary-fixed: rgba(244, 227, 147, 1);
    tertiary-fixed-dim: rgba(215, 199, 122, 1);
    on-tertiary: rgba(56, 48, 0, 1);
    on-tertiary-fixed: rgba(33, 28, 0, 1);
    on-tertiary-fixed-variant: rgba(81, 71, 4, 1);
    tertiary-container: rgba(81, 71, 4, 1);
    on-tertiary-container: rgba(244, 227, 147, 1);

    error: rgba(255, 180, 171, 1);
    on-error: rgba(105, 0, 5, 1);
    error-container: rgba(147, 0, 10, 1);
    on-error-container: rgba(255, 218, 214, 1);

    surface: rgba(22, 19, 9, 0.5);
    on-surface: rgba(234, 226, 207, 1);
    on-surface-variant: rgba(208, 198, 171, 1);

    outline: rgba(153, 144, 119, 1);
    outline-variant: rgba(77, 70, 50, 1);
    shadow: rgba(0, 0, 0, 1);

    scrim: rgba(0, 0, 0, 1);
    inverse-surface: rgba(234, 226, 207, 1);
    inverse-on-surface: rgba(52, 48, 36, 1);
    inverse-primary: rgba(121, 77, 137, 1);

    surface-dim: rgba(22, 19, 9, 1);
    surface-bright: rgba(61, 57, 44, 1);
    surface-container-lowest: rgba(17, 14, 5, 1);
    surface-container-low: rgba(31, 27, 16, 1);
    surface-container: rgba(35, 31, 20, 1);
    surface-container-high: rgba(46, 42, 30, 1);
    surface-container-highest: rgba(57, 53, 40, 1);
}
