@import "~/hyprdots/.config/rofi/colors.rasi"

window {
    padding: 10px;
    border-radius: 25px;
    width: 15%;
    background-color: var(surface);
}

mainbox {
    padding: 10px;
    border-radius: 15px;
    orientation: vertical;
    background-color: var(surface);
    children: [ "textbox-confirmation", "listview" ];
}

textbox-confirmation {
    content: "Are you sure?";
    horizontal-align: 0.5;
    background-color: transparent;
    text-color: var(primary);
    margin: 0px 0px 10px 0px;
}

listview {
    padding: 0px;
    background-color: transparent;
    text-color: var(on-surface);
    columns: 2;
    lines: 1;
}

element {
    padding: 2px;
    background-color: transparent;
    text-color: inherit;
    cursor: pointer;
    spacing: 5px;
    border-radius: 8px;
    children: [ "element-text" ];
}

element normal.normal {
    background-color: transparent;
    text-color: inherit;
}

element selected.normal {
    background-color: var(error);
    text-color: var(on-error);
}

element-text {
    background-color: transparent;
    cursor: inherit;
    text-color: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}
