/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▄░█▀█░▀█▀░▀█▀░█▀▀░█▀▄░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█▀▄░█▀█░░█░░░█░░█▀▀░█▀▄░░█░░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀▀░░▀░▀░░▀░░░▀░░▀▀▀░▀░▀░░▀░░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#battery {
    padding: 0px 12px;
    border-radius: 9999px;
    margin-right: 4px;

    background: @surface;
    color: @on_surface;
}

#battery.full {
    background: @tertiary;
    color: @on_tertiary;
}

#battery.charging,
#battery.plugged {
    background: @primary;
    color: @on_primary;
}

/*
* Blinking animation for WARNING and CRITICAL states
*/

@keyframes blink-warning {
    to {
        background: @secondary_container;
        color: @on_secondary_container;
    }
}

@keyframes blink-critical {
    to {
        background: @error_container;
        color: @on_error_container;
    }
}

#battery.warning:not(.charging) {
    background: @secondary;
    color: @on_secondary;
    animation-name: blink-warning;
}

#battery.critical:not(.charging) {
    background: @error;
    color: @on_error;
    animation-name: blink-critical;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#upower {
    padding: 0px 12px;

    background: @surface;
    color: @on_surface;
}

#upower.charging {
    background: @primary;
    color: @on_primary;
}

#upower.full {
    background: @tertiary;
    color: @on_tertiary;
}
