/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▄░█░░░█░█░█▀▀░▀█▀░█▀█░█▀█░▀█▀░█░█░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█▀▄░█░░░█░█░█▀▀░░█░░█░█░█░█░░█░░█▀█░░░▄▄▄░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀▀░░▀▀▀░▀▀▀░▀▀▀░░▀░░▀▀▀░▀▀▀░░▀░░▀░▀░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#bluetooth {
    margin-right: 4px;
    padding: 0px 6px;
    border-radius: 9999px;
}

#bluetooth.disabled,
#bluetooth.no-controller,
#bluetooth.off {
    background-color: @error;
    color: @on_error;
}

#bluetooth.connected {
    font-weight: 900;

    background-color: @primary;
    color: @on_primary;
}

#bluetooth.discoverable,
#bluetooth.pairable {
    background-color: @tertiary;
    color: @on_tertiary;
}
