/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░▀█▀░█▀▄░█░░░█▀▀░░░▀█▀░█▀█░█░█░▀█▀░█▀▄░▀█▀░▀█▀░█▀█░█▀▄░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░░█░░█░█░█░░░█▀▀░░░░█░░█░█░█▀█░░█░░█▀▄░░█░░░█░░█░█░█▀▄░░░▄▄▄░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀▀▀░▀▀░░▀▀▀░▀▀▀░░░▀▀▀░▀░▀░▀░▀░▀▀▀░▀▀░░▀▀▀░░▀░░▀▀▀░▀░▀░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#idle_inhibitor {
    margin: 2px;
    padding: 0px 8px;

    font-size: 12px;
    font-weight: 900;

    border-radius: 10px;
}

#idle_inhibitor.activated {
    background: @error;
    color: @on_error;
}

#idle_inhibitor.deactivated {
    background: @surface;
    color: @on_surface;
}
