/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░▀█▀░█▀▄░█░░░█▀▀░░░▀█▀░█▀█░█░█░▀█▀░█▀▄░▀█▀░▀█▀░█▀█░█▀▄░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░░█░░█░█░█░░░█▀▀░░░░█░░█░█░█▀█░░█░░█▀▄░░█░░░█░░█░█░█▀▄░░░▄▄▄░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀▀▀░▀▀░░▀▀▀░▀▀▀░░░▀▀▀░▀░▀░▀░▀░▀▀▀░▀▀░░▀▀▀░░▀░░▀▀▀░▀░▀░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#idle_inhibitor {
    padding: 0px 6px;
    border-radius: 9999px;
    margin-right: 4px;
}

#idle_inhibitor.activated {
    background: @error;
    color: @on_error;
}

#idle_inhibitor.deactivated {
    color: @on_surface;
}
