/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▄█░█▀█░█▀▄░▀█▀░█▀▀░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█░█░█▀▀░█▀▄░░█░░▀▀█░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░▀░▀░░░▀░▀░▀▀▀░▀▀▀░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#mpris {
    padding: 0px 8px;
    border-radius: 10px;
    margin: 2px;

    font-size: 12px;
    font-weight: 900;

    background: @surface;
    color: @on_surface;
}

#mpris.playing {
    background: @primary;
    color: @on_primary;
}

#mpris.paused,
#mpris.stopped {
    background: @error;
    color: @on_error;
}
