/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▄█░█▀█░█▀▄░▀█▀░█▀▀░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█░█░█▀▀░█▀▄░░█░░▀▀█░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░▀░▀░░░▀░▀░▀▀▀░▀▀▀░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#mpris {
    padding: 0px 12px;
}

#mpris.playing {
    color: @primary;
}

#mpris.paused,
#mpris.stopped {
    color: @error;
}
