/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀█░█▀▀░▀█▀░█░█░█▀█░█▀▄░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█░█░█▀▀░░█░░█▄█░█░█░█▀▄░█▀▄░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░▀░▀▀▀░░▀░░▀░▀░▀▀▀░▀░▀░▀░▀░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#network {
    margin: 2px;
    border-radius: 10px;
    padding: 0px 8px;
    background: @surface;
    color: @on_surface;
}

#network.disabled,
#network.disconnected {
    background: @error;
    color: @on_error;
}

#network.linked {
    background: @secondary;
    color: @on_secondary;
}

#network.ethernet {
    background: @tertiary;
    color: @on_tertiary;
}

#network.wifi {
    background: @primary;
    color: @on_primary;
}
