/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀█░█▀▀░▀█▀░█░█░█▀█░█▀▄░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█░█░█▀▀░░█░░█▄█░█░█░█▀▄░█▀▄░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░▀░▀▀▀░░▀░░▀░▀░▀▀▀░▀░▀░▀░▀░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#network {
    padding: 0px 6px;
    border-radius: 9999px;
    margin-right: 4px;

    color: @on_surface;
}

#network.disabled,
#network.disconnected {
    background: @error;
    color: @on_error;
}

#network.linked {
    background: @secondary;
    color: @on_secondary;
}

#network.ethernet {
    background: @tertiary;
    color: @on_tertiary;
}

#network.wifi {
    background: @primary;
    color: @on_primary;
}
