/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀█░█▀█░█░█░█▀▀░█▀▄░░░█▀█░█▀▄░█▀█░█▀▀░▀█▀░█░░░█▀▀░█▀▀░░░█▀▄░█▀█░█▀▀░█▄█░█▀█░█▀█░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█▀▀░█░█░█▄█░█▀▀░█▀▄░░░█▀▀░█▀▄░█░█░█▀▀░░█░░█░░░█▀▀░▀▀█░░░█░█░█▀█░█▀▀░█░█░█░█░█░█░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░░░▀▀▀░▀░▀░▀▀▀░▀░▀░░░▀░░░▀░▀░▀▀▀░▀░░░▀▀▀░▀▀▀░▀▀▀░▀▀▀░░░▀▀░░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#power-profiles-daemon {
    padding: 0px 6px;
    border-radius: 9999px;
    margin-right: 4px;

    color: @tertiary;
}

#power-profiles-daemon.performance {
    background: @error;
    color: @on_error;
}

#power-profiles-daemon.balanced {
    color: @on_surface;
}

#power-profiles-daemon.power-saver {
    background: @primary;
    color: @on_primary;
}
