/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀█░█▀▄░▀█▀░█░█░█▀█░█▀▀░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█▀▀░█▀▄░░█░░▀▄▀░█▀█░█░░░░█░░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░░░▀░▀░▀▀▀░░▀░░▀░▀░▀▀▀░░▀░░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#privacy-item {
    margin: 2px;
    padding: 0px 8px;
    border-radius: 10px;

    font-size: 12px;
    font-weight: 900;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    background: @error;
    color: @on_error;
}
