/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀█░█▀▄░▀█▀░█░█░█▀█░█▀▀░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█▀▀░█▀▄░░█░░▀▄▀░█▀█░█░░░░█░░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░░░▀░▀░▀▀▀░░▀░░▀░▀░▀▀▀░░▀░░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#privacy-item {
    padding: 0px 12px;
    border-radius: 9999px;
    margin-right: 4px;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    background: @error;
    color: @on_error;
}
