/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░▀█▀░█▀▄░█▀█░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░░█░░█▀▄░█▀█░░█░░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░░▀░░▀░▀░▀░▀░░▀░░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#tray {
    padding: 0px 12px;
    border-radius: 9999px;
    margin-right: 4px;

    background: @surface_variant;
}

#tray menu {
    padding: 12px;

    background: @surface;
    color: @on_surface;
}
