/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░▀█▀░█▀▄░█▀█░█░█░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░░█░░█▀▄░█▀█░░█░░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░░▀░░▀░▀░▀░▀░░▀░░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#tray {
    margin: 2px;
    padding: 0px 8px;
    border-radius: 10px;

    font-size: 12px;
    font-weight: 900;

    background: @surface;
}

#tray menu {
    padding: 8px;
    border-radius: 10px;

    background: @surface;
    color: @on_surface;
}
