/**
* ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█░█░█▀█░█▀▄░█░█░█▀▀░█▀█░█▀█░█▀▀░█▀▀░█▀▀░░░░░░░░░█▀▀░▀█▀░█░█░█░░░▀█▀░█▀█░█▀▀
* ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█▄█░█░█░█▀▄░█▀▄░▀▀█░█▀▀░█▀█░█░░░█▀▀░▀▀█░░░▄▄▄░░░▀▀█░░█░░░█░░█░░░░█░░█░█░█░█
* ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀░▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░░░▀░▀░▀▀▀░▀▀▀░▀▀▀░░░░░░░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░▀░▀░▀▀▀
*/

#workspaces {
    border-radius: 9999px;
    padding: 13px;
    font-size: 0.1em;
    min-height: 0;

    background: @surface;
}

#workspaces * {
    font-size: 0.1em;
    min-height: 0;
}

#workspaces button {
    color: transparent;
    margin: 0px 4px;
    padding: 0;
    border-radius: 9999px;

    min-width: 0.7rem;
    min-height: 6px;

    background: @on_surface;
}

#workspaces button.active {
    min-width: 1.6rem;
    transition: none;

    background: @primary;
}

#workspaces button:not(.active):not(.empty):not(.urgent) {
    background: @secondary;
}

#workspaces button.empty:not(.active):not(.urgent) {
    opacity: 0.3;
}

#workspaces button.urgent {
    min-width: 1.6rem;
    transition: none;

    background: @error;
}

#workspaces button.special {
    background: @error_container;
}
